# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
*.orig
debug.log
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
*_BASE_*
# package-lock.json #excluding

#/src/environment/environment.ts
#/src/environment/.gitkeep
